/* line 13, ../sass/base2.scss */
.page-wrap {
  width: 75%;
}
@media (max-width: 1600px) {
  /* line 13, ../sass/base2.scss */
  .page-wrap {
    width: 60%;
  }
}
@media (max-width: 1250px) {
  /* line 13, ../sass/base2.scss */
  .page-wrap {
    width: 80%;
  }
}
@media (max-width: 650px) {
  /* line 13, ../sass/base2.scss */
  .page-wrap {
    width: 95%;
  }
}
