/* line 17, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/_base.scss */
p, label, #menu ul li a, .listino li a, .catalogo li a {
  font-size: 0.75em;
}

/* questa è la base per gestire il tutto */
/* line 3, ../sass/css.scss */
html, body {
  background: #ccc;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* line 8, ../sass/css.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 17, ../sass/css.scss */
.clearfix {
  display: inline-block;
}

/* line 21, ../sass/css.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 25, ../sass/css.scss */
* html .clearfix {
  height: 1%;
}

/* line 30, ../sass/css.scss */
h1 {
  font-size: 1.875em;
  border-bottom: dashed 1px black;
  font-weight: bold;
}

/* line 30, ../sass/css.scss */
h2 {
  font-size: 1.525em;
  border-bottom: dashed 1px black;
  font-weight: bold;
}

/* line 30, ../sass/css.scss */
h3 {
  font-size: 1.175em;
  border-bottom: dashed 1px black;
  font-weight: bold;
}

/* line 30, ../sass/css.scss */
h4 {
  font-size: 0.825em;
  border-bottom: dashed 1px black;
  font-weight: bold;
}

/* line 30, ../sass/css.scss */
h5 {
  font-size: 0.475em;
  border-bottom: dashed 1px black;
  font-weight: bold;
}

/* line 37, ../sass/css.scss */
a:link, a:visited {
  color: #333;
}

/* line 40, ../sass/css.scss */
a:hover, a:active {
  color: #600;
}

/* line 44, ../sass/css.scss */
p {
  margin: 10px 0;
}

/* line 48, ../sass/css.scss */
label {
  font-weight: bold;
}

/* line 53, ../sass/css.scss */
#wrap {
  overflow: hidden;
  *zoom: 1;
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
  background: white;
  position: relative;
  width: 95%;
  margin: 1em auto;
}
@media screen and (min-width: 61.25em) {
  /* line 53, ../sass/css.scss */
  #wrap {
    width: 61.25em;
  }
}
@media screen and (max-width: 30em) {
  /* line 53, ../sass/css.scss */
  #wrap {
    width: 100%;
    margin: 0 auto;
  }
}

/* line 69, ../sass/css.scss */
#header, #main-content, img {
  width: 100%;
  float: left;
}

/* line 75, ../sass/css.scss */
input[type=submit], button[type=submit] {
  cursor: pointer;
  width: 100%;
}
@media screen and (max-width: 40.625em) {
  /* line 75, ../sass/css.scss */
  input[type=submit], button[type=submit] {
    padding: 10px 0;
    font-size: 1em;
  }
}
/* line 83, ../sass/css.scss */
input[type=text], button[type=text] {
  width: 97%;
  border: solid 1px #cfa600;
}
@media screen and (max-width: 40.625em) {
  /* line 83, ../sass/css.scss */
  input[type=text], button[type=text] {
    width: 99%;
    padding: 5px 0;
    font-size: 1em;
    margin-bottom: 10px;
  }
}

/* line 95, ../sass/css.scss */
#language, #logo {
  width: 17.34694%;
  background: #ffd31c;
  float: left;
}

/* line 100, ../sass/css.scss */
#menu, #widget-area {
  width: 82.65306%;
  background: #0cc;
  float: right;
}

/* line 105, ../sass/css.scss */
#responsive-menu {
  display: none;
}

/* line 108, ../sass/css.scss */
#language, #menu {
  height: 1.50em;
}

/* line 111, ../sass/css.scss */
#language, #menu, #logo {
  display: block;
}
@media screen and (max-width: 40.625em) {
  /* line 111, ../sass/css.scss */
  #language, #menu, #logo {
    display: none;
  }
}

/* line 118, ../sass/css.scss */
#menu ul {
  display: table;
  width: 100%;
}
/* line 124, ../sass/css.scss */
#menu ul li {
  display: table-cell;
}
/* line 127, ../sass/css.scss */
#menu ul li a {
  display: block;
  padding: 0.5em 0;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* line 135, ../sass/css.scss */
#menu ul li a:hover {
  background: #ff0;
  color: #000;
}

/* Button Responsive Menu*/
/* line 144, ../sass/css.scss */
#btn-responsive-menu {
  display: none;
  position: absolute;
  top: 2em;
  right: 1em;
  cursor: pointer;
  margin: 0;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0px 0px 1px #aaaaaa;
  background: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 5px;
}

/* line 158, ../sass/css.scss */
.icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 5px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px 0;
}

/* line 167, ../sass/css.scss */
.show {
  display: block!important;
}

/* line 171, ../sass/css.scss */
#btn-responsive-menu, #logo-handheld {
  display: none;
}
@media screen and (max-width: 40.625em) {
  /* line 171, ../sass/css.scss */
  #btn-responsive-menu, #logo-handheld {
    display: block;
  }
}

/* line 180, ../sass/css.scss */
#responsive-menu ul {
  margin: 0;
  float: left;
  width: 100%;
  list-style: none;
}
/* line 185, ../sass/css.scss */
#responsive-menu ul li {
  float: left;
  margin: 0;
  position: relative;
}
/* line 191, ../sass/css.scss */
#responsive-menu a {
  color: #ccc;
  display: block;
  padding: 0.5em;
}
/* line 195, ../sass/css.scss */
#responsive-menu a:hover {
  background: #666;
}
@media screen and (max-width: 40.625em) {
  /* line 179, ../sass/css.scss */
  #responsive-menu {
    display: none;
  }
  /* line 201, ../sass/css.scss */
  #responsive-menu ul li {
    float: none;
  }
}

/* line 210, ../sass/css.scss */
#content-sidebar-wrap {
  width: 82.65306%;
  float: right;
}

/* line 216, ../sass/css.scss */
#content {
  width: 100%;
  background: #fff;
  float: left;
}
/* line 220, ../sass/css.scss */
#content .incipit {
  font-size: 1em;
  margin-top: 20px;
}
/* line 224, ../sass/css.scss */
#content .slogan {
  position: relative;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background: #900;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc0000), color-stop(100%, #990000));
  background-image: -webkit-linear-gradient(#cc0000, #990000);
  background-image: -moz-linear-gradient(#cc0000, #990000);
  background-image: -o-linear-gradient(#cc0000, #990000);
  background-image: linear-gradient(#cc0000, #990000);
  text-align: center;
  padding: 1.23457%;
  font-size: 90%;
  margin: 2.46914% 0;
}
/* line 26, ../../../../../../../../Users/Gianluca/.compass/extensions/compass-recipes/stylesheets/recipes/effect/_glass.scss */
#content .slogan:after {
  content: "";
  position: absolute;
  display: block;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.72) 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 0 10px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.72) 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 0 10px;
  box-shadow: inset rgba(255, 255, 255, 0.72) 0 0 2px, inset rgba(255, 255, 255, 0.4) 0 0 10px;
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0) 50.5%);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0) 50.5%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0) 50.5%);
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 50%, rgba(255, 255, 255, 0) 50.5%);
}
/* line 232, ../sass/css.scss */
#content .slogan * {
  color: #fff;
  border: none;
}
/* line 238, ../sass/css.scss */
#content .area {
  border: none;
  background-color: #ffd31c;
  padding: 1.23457%;
  margin: 2.46914% 0;
}
/* line 244, ../sass/css.scss */
#content .negozio {
  width: 26.17284%;
  border: solid 6px #cccccc;
  margin-right: 1.23457%;
  float: left;
}
/* line 250, ../sass/css.scss */
#content .anni {
  float: right;
  width: 12.34568%;
}
/* line 254, ../sass/css.scss */
#content > div {
  padding: 2.46914%;
}
@media screen and (max-width: 40.625em) {
  /* line 216, ../sass/css.scss */
  #content {
    width: 100%;
    float: none;
  }
  /* line 260, ../sass/css.scss */
  #content .negozio {
    display: none;
  }
}

/* line 265, ../sass/css.scss */
.listino, .catalogo {
  width: 100%;
  font-size: 90%;
}
/* line 268, ../sass/css.scss */
.listino li, .catalogo li {
  width: 23.82716%;
  padding: 0.61728%;
  float: left;
}
/* line 272, ../sass/css.scss */
.listino li a, .catalogo li a {
  margin-top: 5px;
  font-weight: bold;
}
/* line 277, ../sass/css.scss */
.listino li .price, .catalogo li .price {
  margin-top: .4em;
}
/* line 279, ../sass/css.scss */
.listino li .price span, .catalogo li .price span {
  text-decoration: line-through;
}
/* line 283, ../sass/css.scss */
.listino li .cristalprice, .catalogo li .cristalprice {
  color: #c00;
  font-weight: bold;
}
/* line 287, ../sass/css.scss */
.listino li .scheda, .catalogo li .scheda {
  background: url("/images/dett_prodotto.jpg") no-repeat left center;
  padding-left: 25px;
}
@media screen and (max-width: 40.625em) {
  /* line 268, ../sass/css.scss */
  .listino li, .catalogo li {
    width: 100%;
    float: none;
  }
}

/* line 297, ../sass/css.scss */
.catalogo {
  text-align: center;
}
/* line 299, ../sass/css.scss */
.catalogo li {
  min-height: 180px;
}

/* line 303, ../sass/css.scss */
#sidebar {
  width: 37.03704%;
  background: #c00;
  float: right;
}

/* line 308, ../sass/css.scss */
#sidebar-alt {
  width: 17.34694%;
  font-size: 90%;
  background: #ffd31c;
  float: left;
}
/* line 313, ../sass/css.scss */
#sidebar-alt > div {
  padding: 2.94118%;
}

@media screen and (max-width: 40.625em) {
  /* line 317, ../sass/css.scss */
  #language, #menu, #logo, #widget-area, #content-sidebar-wrap, #content, #sidebar, #sidebar-alt {
    width: 100%;
    float: none;
  }
}
